* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../../imgs/wallpapper.png);
  font-family: FreeMono, monospace;
  background-size: cover;
}

.area-menu{
  display: flex;
  align-items: center;
  border-radius: 9px;
  width: 130px;
  height: 60vh;
  background-color: aliceblue 
}
