
table{
    width:100%; 
    table-layout: fixed;

    
}
.tbl-header{
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-left: 25%;
    margin-top: -25%;
}
.tbl-content{
    width: 100%;
    height:400px;
    margin-left: 25%;
    margin-top: -25%;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.633);
    background-color: rgba(255, 255, 255, 0.636);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 17px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #424242;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

#pagar{
    color: rgb(96, 164, 28);
    font-size: 25px;
    cursor: pointer;
}

#pagar:hover{
    color: rgb(255, 255, 255);
}